{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    
    <!-- Link to custom styles.css -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'search_recipes' %}">Recipe App</a>
        </div>
    </nav>
    <main class="py-4">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Optional: Add Bootstrap JS for dynamic components (like dropdown) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybGzB2vYd2IvH6U8t9i3F3sM9irpe6A9g5Md8Afg1V+8n6BqzP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0b7tOjjfJmc3Lzv3p4dI+Fu7r7h8Y5DlmBOsc+X+YqUsl50d" crossorigin="anonymous"></script>
</body>
</html>
