{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Recipes</h1>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="card-img-top recipe-image" loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
