{% extends "body.html" %}

{% block title %}
Custom Auth
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h1 class="text-center mb-4">Authentication Django Project</h1>
            <h2 class="text-center">
                {% if form.instance.pk %}
                    Edit Tweet
                {% else %}
                    Create Tweet
                {% endif %}
            </h2>

            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button class="btn btn-warning w-100" type="submit">
                    Submit Tweet
                </button>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
